@using BlazorServerRdlcReport.Services
@page "/"
@inject EmployeeService empSvc
@inject JSInterOpService jsTool

<PageTitle>Index</PageTitle>

<h1>RDLC Report in Blazor</h1>

<button class="btn btn-primary" @onclick=HandleClick>
  產生報表
</button>

@code {
  async Task HandleClick()
  {
    var pdf = await Task.Run(() => empSvc.MakeRdlcReport());
    await jsTool.DownloadFileAsync("我的 RDLC 報表.pdf", pdf);
  }
}